.button {
    display: inline-flex;
    background-color: #F2B90C;
    color: #0D0D0D;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear;
    font-size: 20px;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.02);
}
