.progress-bar{
    -webkit-appearance: none;
    box-sizing: border-box;
    background-color: #000000;
    border: 5px solid #000000;
    height: 40px;
}

progress::-webkit-progress-value{
    background-color: #9fe4f4;
}

progress::-webkit-progress-bar{
    background-color: #000000;
}

.progress-bar::-moz-progress-bar,
.progress-bar::-webkit-progress-value{
    background-color: #9fe4f4;
}