.title {
    font-size: 40px;
    color: #1d1e1b;
    text-shadow: 4px 4px 0 #F2F2F2;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}

.title.-second{
    color: #1d1e1b;
    text-shadow: none;
    text-align: center;
}
